.main-container{
    display: flex;
    justify-content: center;
   height: 100%;
    border: 1px solid red;
}

.main-inner-width{
    display: flex;
    justify-content: center;
    width: 90%;
    border: 1px solid yellow;
}

.main-folders-files-container{
    display: flex;
   flex-direction: column;
    justify-content:space-between;
    align-items: center;
   
    border: 3px solid chartreuse;
    width: 60%;
}

.main-onlyFolders-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid goldenrod;
    height: 45%;
     gap: 1rem;
     width: 100%;
     align-items: center;
    }
    
    .main-onlyFiles-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid goldenrod;
    height: 45%;
     gap: 1rem;
     width: 100%;
}

.folder{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 180px;
    height: 15%;
    border: 1px solid;
}
.folder p{
    border: 1px solid;
}
.folder input{
    width: 60%;
}